
.headd{
    margin-top:70px;
    margin-left: 200px;
    font-size: 60px;
    font-family: 'Times New Roman';
    font-weight: 700;
}
#value {
    margin-top: 80px;
    margin-left: 300px;
    font-size: 60px;
    color: black;
    
}
.button-container{
margin-top: 60px;
margin-left: 130px;
}
.btn {
    margin: 20px;
    font-size: 20px;
    border-color: rgba(25, 128, 12, 0.836);
    border-radius: 10px;
}
body{
    background-color: rgba(69, 21, 146, 0.842);
}