
.headd{
    margin-top:10%;
    margin-left: 40%;
    font-size: 60px;
    font-family: 'Times New Roman';
    font-weight: 700;
}
#value {
    margin-top: 5%;
    margin-left: 45%;
    font-size: 60px;
    color: black;
    
}
.button-container{
margin-top: 0%;
margin-left: 32%;
}
.btn {
    margin: 20px;
    font-size: 20px;
    border-color: rgba(25, 128, 12, 0.836);
    border-radius: 10px;
}
body{
    background-color: rgba(69, 21, 146, 0.842);
}
